* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  margin-top: 20px;
  background-color: #f4f4f9;
  background-image: url("/static/trip.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.itinerary-container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

p#summary {
  font-size: 1.1em;
  color: black;
  text-align: left;
  margin-bottom: 20px;
  padding-left: 10px;
}

#itinerary {
  font-size: 1.1em;
  color: #333;
  text-align: left;
  white-space: pre-wrap; /* Ensures the text wraps properly */
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: auto; /* Prevents content overflow */
  max-width: 100%;
}

.btn {
  background-color: #5f76f5;
  color: #fff;
  padding: 12px 20px;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #4b5edc;
}
